@font-face {
    font-family: walk_of_life_font;
    src: url(../assets/font/Raleway/Raleway-VariableFont_wght.ttf);
}

* {
    font-family: walk_of_life_font, serif;
}

.button{
    width: 100%;
    height: 20%;
    float: left;
    background-color: #666666;
    outline-color: black;
    position: relative;
}

.button:hover{
    cursor: pointer;
    background-color: #808080;
}


#buttonsDiv{
    position: relative;
    height: 100%;
    width: 15%;
    z-index: 5;
    top: 8%;
    left: 1%;
}

#scene{
    position: relative;
    height: 100%;
    width: 100%;
}

.pictogram{
    height: 20%;
    width: 20%;
}

.img_container{
    margin-bottom: 5%;
}

.text-container{
    margin-right: 2%;
}

#profileDiv{
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: white;
    padding: 20px;
}

img{
    width: 200px;
    height: 200px;
}

.myProgress {
    width: 100%;
    background-color: grey;
    position: relative;
}

.myBar {
    width: 100%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: #000000;
    position: relative;
}

@media screen and (max-width: 768px){
    #buttonsDiv{
        position: relative;
        height: 25%;
        width: 90%;
        z-index: 5;
        top: 74%;
        left: 5%;
    }
    .button{
        width: 50%;
        height: 50%;
        float: left;
        background-color: #666666;
        outline-color: black;
        position: relative;
    }
    #profileDiv{
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 10px;
    }
    #profile{
        position: relative;
        float: left;
        height: 100%;
        width: 50%;
        left: 30px;
    }
    .myProgress {
        float: right;
        width: 50%;
        top: 60px;
    }
    .myBar {
        float: right;
    }
    img{
        width: 100px;
        height: 100px;
    }
    #gamemessage {
        width: 20vh;
        height: 20vh;
        font-size: small;
    }
}

#gamemessage{
    position: absolute;
    margin: auto;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40vh;
    height: 40vh;
    z-index: 5;
    background-color: #ccc;
    border-radius: 3px;
    text-align: center;
    font-family: walk_of_life_font, serif;
    align-content: center;
}


